
@{
    ViewBag.Title = "Indique el tipo de lista a utilizar:";
}

<h2>Presione para utilizar lista generica: </h2>

<p>
    @using (Html.BeginForm("ListaGenerica", "Jugadores"))
    {
        <input type="submit" value="Lista Genérica" />
    }
</p>

<h2>Presione para utilizar lista de .NET:</h2>
<p>
    @using (Html.BeginForm("ListaNET", "Jugadores"))
    {
        <input type="submit" value="Lista de .NET" />
    }
</p>
