@{
    ViewBag.Title = "Menu busqueda";
}

<p><h2>Menu:</h2></p>
<p>Indique la acción que desea realizar:</p>
<p>@Html.ActionLink("Buscar por nombre y apellido", "BusquedaNombre", FormMethod.Get)</p>
<p>@Html.ActionLink("Buscar por posición", "BusquedaPosicion", FormMethod.Get)</p>
<p>@Html.ActionLink("Buscar por salario", "Edit")</p>
<p>@Html.ActionLink("Buscar por club", "Delete")</p>


